.filter-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 15px;
  flex-wrap: wrap;
}

.filter-group {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.search-btn {
  margin-left: auto;
  padding: 12px 25px;
  font-size: 14px;
  font-weight: 600;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3);
}

.search-btn:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 12px rgba(0, 123, 255, 0.5);
}


.search-btn:focus {
  outline: none;
}
